/*
* Общие стили
*/
*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body{
	padding: 0;
	height: 100%;
	min-height: 100%;
	font: 14px/20px 'SegoeUIRegular', Arial, Helvetica, sans-serif;
	color:#404040;
}
table{
	border-collapse: collapse;
}
td{
	padding: 5px;
}
input[type=text]{
  outline: none;
}
/*
* Стили страницы
*/
.l-container{
	min-width: 1080px;
	min-height: 100%;
	display: flex;
}
/* Левая колонка */
#l-control{
	padding: 25px 30px;
	width: 278px;
	background: #BCBCBC;
}
#l-control.is-error{
	background: #f6c1c0;
}
#l-control.is-active{
	background: #5199db !important;
}
#l-control #l-generate-matrix{
	margin-top: 62px;
}
#l-control #l-generate-matrix label {
	display: inline-flex;
	align-items: center;
}
#l-control #l-generate-matrix label + label {
	margin-left: 14px;
}
#l-control #l-generate-matrix label input {
	margin-right: 5px;
}
#l-control #l-generate-matrix #l-tr{
	margin-top: 5px;
}
#l-clean-matrix{
	margin-top: 49px;
}
#l-control #l-error-matrix {
	color: #da0902;
	padding-top: 40px;
	line-height: 24px;
}
/* Правая колонка */
.l-matrix{
	padding: 0 24px 30px 24px;
	flex: auto;
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: auto auto 1fr;
}
.l-matrix .matrix{
	padding: 3px 0;
	position: relative;
	margin: 16px 27px 16px 11px;
}
.l-matrix .matrix:nth-child(3) {
	grid-row-start: 2;
}
.l-matrix .matrix::before {
	content: '';
	border: 2px solid #404040;
	border-right: 0;
	height: 100%;
	width: 8px;
	position: absolute;
	top: 0px;
	left: -3px;
}
.l-matrix .matrix::after {
	content: '';
	border: 2px solid #404040;
	border-left: 0;
	height: 100%;
	width: 8px;
	position: absolute;
	top: 0px;
	right: -3px;
}
.l-matrix .matrix__name {
	position: absolute;
	font-size: 28px;
	line-height: 28px;
}
.l-matrix #matA + .matrix__name {
	right: -38px;
	top: 50%;
	transform: translateY(-14px);
}
.l-matrix #matB + .matrix__name {
	left: 0;
	bottom: -40px;
	width: 100%;
	text-align: center;
}
.l-matrix .matrix input{
	border:1px solid #d9d9d9;
	border-top: 1px solid #b2b2b2;
	background: #fff;
	color:#404040;
	height: 38px;
	width: 38px;
	text-align: center;
}
.l-matrix .matrix input:focus{
	border:1px solid #5199db;
	box-shadow: 0px 0px 0px 1px rgba(81,153,219,1);
}
.l-matrix .matrix input.is-error{
	border:1px solid #f6140d;
	box-shadow: 0px 0px 0px 1px #f6140d;
}
.l-matrix .matrix input.is-error:focus{
	border:1px solid #f6140d;
	box-shadow: 0px 0px 0px 1px #f6140d;
}
.l-matrix .matrix input:disabled{
	border:1px solid #d9d9d9;
	background: #f2f2f2;
}

/**
 * Модули
 */
/* Модуль кнопка */
.btn{
	line-height: 1;
	margin: 5px 0;
	cursor: pointer;
	text-align: center;
	padding: 8px 9px;
	border: 1px solid #d9d9d9;
	border-bottom:1px solid #b2b2b2;
	background: -webkit-linear-gradient(top, #fefefe, #ececec );
	background: linear-gradient(to bottom, #fefefe, #ececec );
	border-radius: 2px;
}
.btn + .btn {
	margin-left: 6px;
}
.btn:hover{
	border: 1px solid #d9d9d9;
	border-bottom:1px solid #b2b2b2;
	background: #dfdfdf;
	background: -webkit-linear-gradient(top, #f2f2f2, #dfdfdf );
	background: linear-gradient(to bottom, #f2f2f2, #dfdfdf );
}
.btn:active{
	border: 1px solid #cccccc;
	border-top:1px solid #a6a6a6;
	background: #d9d9d9;
	box-shadow: inset 0px 5px 10px -8px rgba(0,0,0,0.75);
}
.btn:focus {
	outline: none;
	box-shadow: 0px 0px 0px 2px rgba(81,153,219,1);
}
.btn:disabled, .btn:disabled:active{
	background: #F2F2F2;
	box-shadow: none;
	color:#8F8F8F;
	cursor: default;
	border: 1px solid #DEDEDE;
}
/* Зелёная кнопка */
.btn.t-green{
	overflow: visible;
	display: block;
	line-height: 0.7;
	height: 38px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #5e9450;
	border-bottom:1px solid #457339;
	background: linear-gradient(to bottom, #4ba91d, #38920c );
	border-radius: 3px 4px 4px 3px;
	position: relative;
	z-index: 1;
	padding: 0;
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}
.btn.t-green:before{
	content:'';
	border-radius: 0px 3px 0px 0;
	height: 26px;
	width: 26px;
	display: block;
	position: absolute;
	top: 5px;
	right: -13px;
	transform: rotateZ(45deg);
	z-index: -1;
	border-right: 1px solid #21381b;
	border-top: 1px solid #5d8055;
	background: linear-gradient(135deg, #4ba91d, #38920c );
	background-clip: padding-box;
	display: block !important;
}
.btn.t-green:hover{
	border: 1px solid #527f4d;
	border-bottom:1px solid #426c36;
	background: linear-gradient(to bottom, #3b8d13, #317e0b );
}
.btn.t-green:hover:before{
	border-top: 1px solid #527f4d;
	border-right: 1px solid #334730;
	background: linear-gradient(135deg, #3b8d13, #317e0b );
}
.btn.t-green:active{
	border: 1px solid #51744c;
	border-top:1px solid #3d5333;
	background: #35840e;
	box-shadow:
		inset 0px 5px 10px -8px rgba(0,0,0,0.75);
}
.btn.t-green:active:before{
	border-top: 1px solid #3a5e36;
	border-right: 1px solid #51744c;
	background: #35840e;
	box-shadow: inset -2px 4px 6px -5px #000000bf;
}
.btn.t-green:focus{
	box-shadow:
		0 0 0 3px #BCBCBC,
		0px 0px 0px 6px #48a51a;
}
.btn.t-green:focus:before{
	box-shadow:
		2px -2px 0 1px #BCBCBC,
		4px -4px 0 2px #48a51a;
}
.btn.t-green:disabled, .btn.t-green:disabled:active{
	border: 1px solid #DEDEDE;
	background: #F2F2F2;
	box-shadow: none;
	color:#8F8F8F;
	cursor: default;
}
.btn.t-green:disabled:before{
	border-top: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	background: #F2F2F2;
	box-shadow: none;
}

/* Модуль иконка */
.icon{
	position: relative;
	display: inline-block;
	font-family: 'konturIconic';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	overflow: visible;
	z-index: 1;
	font-size: 14px;
	margin: -2px 4px 0 0;
}
.icon-clear:before{
	content: "\E012";
}
.icon-revers:before{
	content: "\E01F";
}
.icon-plus:before{
	content: "\E00D";
}
.icon-minus:before{
	content: "\E01E";
}